<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkple.linkplace">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.Activity.WebviewActivity"></activity>
        <activity android:name=".View.Activity.SettingActivity" />
        <activity android:name=".View.Activity.MyProfileActivity" />
        <activity android:name=".View.Activity.FriendActivity" />
        <activity android:name=".View.Activity.PlaceActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="wgdbcu5bi1" />

        <activity android:name=".View.Activity.ImageSetAcitivty" />
        <activity
            android:name=".View.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>